@keyframes animation {
  from {
    opacity: 1.0;
  }

  25% {
    opacity: 0.8
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 0.4;
    transform: scale(0,0);
  }
}

.alert {
  height: 100px;
  width: 300px;
  text-align: center;
  border: 2px solid #efefef;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
  animation-name: animation;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  position: relative;
}

.erorTitle , .addPropsFailed, .addItemsFailed, .FailedAddItem, .FailedEditItem, .FailedForEditItem {
  background-color: #f00;
}

.RequestAddItem , .RequestEditItem {
  background-color: #f5b514;
}

.erorType {
  background-color: #0000CD;
  padding-top: 15px;
  box-sizing: border-box;
}

.successProp, .SuccesForEditItem {
background-color: #31c35a;
opacity: 0.7;
}

.deleteProp , .deleteItem {
background-color: #32CD32;
padding-top: 15px;
box-sizing: border-box;
}

.mainPropsEmpty {
  background-color: #FF4500;
 padding-top: 5px;
 box-sizing: border-box;
}

.priceNotString {
  background-color: #8B0000;
}

.additionPropsNotValid {
  background-color: #FF8C00;
}

.addBasket , .succesAddItem, .addItemsSucces, .addPropsSucces {
  background-color: #008000;
}

.succesEditItem{
  background-color: #32CD32;
}

.limitItems {
  background-color: #00CED1;
  color: black;
  opacity: 1;
}

.mainPropsLength {
  background-color: #800080;
}
